
# Ignores the build folder
build/**

# Ignores the documentation
doc/**

# Ignores Debug folder, and others created by Eclipse
Debug/**
.settings/**
.cproject
.project

# Ignores all .o, .d and ~ files
**.o
**.d
**~**
